body{
    background-color: rgba(123, 135, 157,0.2);
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    
    
}
.cont{
    height: 600px;
    width: 380px;
    border: 2px solid black;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: 2px 2px 10px black;
      
    
    
    
}
.image{
    border: 2px solid gray;
    height: 55%;
    width: 90%;
    background-image: url("images/image12.png");
    background-size: contain;
    /* margin: auto; */
    position: relative;
    bottom: 20px;
    border-radius: 20px;

}
.item{
     height: 200px;
     width: 80%;
     background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    left: 15px;
}
h2{
    background-color: #fff;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
p{
    background-color: #fff;
    text-align: center;
    Font-size: 15px;
    color: gray;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
 
.image:hover{
    box-shadow: 2px 2px 10px gray;
}
